<div class="rooms" layout="row">
	<span flex=""></span>
		<div layout="column">

		<h2 class="md-headline">Welcome to FakeArtist</h2>

		<md-content>
			<md-list flex>
				<md-subheader class="md-no-sticky"> List of all the active rooms </md-subheader>
				<md-list-item class="md-3-line" ng-repeat="room in rooms" ng-click="null">
				<div class="md-list-item-text" layout="column">
					<div layout="column" layout-align="end end">
						<i class="material-icons md-dark" ng-click="delete(room)">delete_forever</i>
					</div>
					<h3>Room name: {{ room.name }}</h3>
					Players:
					<md-list-item ng-repeat=" user in room.players">
						<p>{{user.name}}</p>
					</md-list-item>
				</div>
				</md-list-item>
			</md-list>
		</md-content>

		</div>
	<span flex=""></span>
</div>

<div layout="row" flex="noshrink" layout-align="center center" class="layout-align-center-center layout-row flex-noshrink">
  <div layout=column>
    <div id="licenter-footer" class="ng-binding flex">
      <span class="md-caption"><a href="https://github.com/johnsabilla/fakeartist" target="_blank">FakeArtist</a> designed by John Sabilla</span>
    </div>  
  </div>
</div>