<div class="rooms" layout="row">
	<span flex=""></span>
		<div layout="column">

			<h2 class="md-headline">Welcome to FakeArtist</h2>	
			<div>
				<div>
					Name: {{ inplay.player.name }}
				</div>
				<div>
					Id: {{ inplay.player.id }}
				</div>
				<div ng-show="inplay.player.isFakeArtist == null || inplay.player.isFakeArtist == false">
					You are an artist.
				</div>
				<div ng-show="inplay.player.isFakeArtist == true"> 
					You are the fake artist!
				</div>
				<div ng-show="!inplay.player.isFakeArtist">
					Draw: {{ inplay.chosenWord }}	
				</div>
			</div>

			<md-button ng-disabled="!playersReady" class="md-raised md-button md-ink-ripple flex-50" ng-click="return()">
				End Game
			</md-button>
			
		</div>
	<span flex=""></span>
</div>

<div layout="row" flex="noshrink" layout-align="center center" class="layout-align-center-center layout-row flex-noshrink">
  <div layout=column>
    <div id="licenter-footer" class="ng-binding flex">
      <span class="md-caption"><a href="https://github.com/johnsabilla/fakeartist" target="_blank">FakeArtist</a> designed by John Sabilla</span>
    </div>  
  </div>
</div>