<div class="rooms" layout="row">
	<span flex=""></span>
		<div layout="column">

		<h2 class="md-headline">Welcome to FakeArtist</h2>
	
			<div>
				<div>
					Name: {{ inplay.name }}
				</div>
				<div>
					Id: {{ inplay.id }}
				</div>
				<div ng-show="inplay.isFakeArtist == true"> 
				You are the fake artist!
				</div>
				<div ng-show="inplay.isFakeArtist == null">
				You are an artist.
				</div>
			</div>


		</div>
	<span flex=""></span>
</div>

<div layout="row" flex="noshrink" layout-align="center center" class="layout-align-center-center layout-row flex-noshrink">
  <div layout=column>
    <div id="licenter-footer" class="ng-binding flex">
      <span class="md-caption"><u>FakeArtist</u> designed by John Sabilla</span>
    </div>  
  </div>
</div>