<div class="rooms" layout="row">
	<span flex=""></span>
		<div layout="column">

		<h2 class="md-headline">Waiting for more players...</h2>
	
		<div ng-repeat="room in single">

		<md-toolbar layout="row" class="md-hue-3">
			<div class="md-toolbar-tools">
				<span>access code: &nbsp;</span> <span class="md-subhead"><b>{{room.name}}</b></span>
			</div>
		</md-toolbar>

		<md-list>	
				<md-content class="">
					<my-list flex="">
						<md-list-item class="md-3-line" ng-repeat= "user in room.players" ng-click="null">
						    <i style="font-size:42px;" class="material-icons md-avatar">face</i>
							<div class="md-list-item-text" layout="column">
								<h3>{{$index+1}}. {{user.name}}
								<i style="font-size: 16px; color: #FFC107; " ng-show="user.isCreator" class="material-icons">grade</i></h3>
								<p>{{user.id}}</p>
							</div>
							<i ng-show="{{ user.id  == userId }}" ng-click="update(user);" class="material-icons" style="color: teal; font-size: 16px;">mode_edit</i>
							<md-divider></md-divider>
						</md-list-item>

					</my-list>
				</md-content>
		</md-list>
	
		<div ng-if="isNew">						
			<form name="userName">
                <md-input-container>
                  <label>Enter name</label>
                  <input type="text" name="userName" ng-model="user.name">
                  <md-button ng-click="submit(user.name)"> 
                     Save 
                  </md-button>
                </md-input-container>
              </form>
		</div>

		</div>	
		<md-button ng-disabled="!playersReady" class="md-raised md-button md-ink-ripple flex-50" ng-click="proceed()">
			Start Game
		</md-button>
		<md-button class="md-raised md-button md-ink-ripple flex-50" ng-click="main()">
			Return
		</md-button>

		</div>

	<span flex=""></span>
</div>

<div layout="row" flex="noshrink" layout-align="center center" class="layout-align-center-center layout-row flex-noshrink">
  <div layout=column>
    <div id="licenter-footer" class="ng-binding flex">
      <span class="md-caption"><a href="https://github.com/johnsabilla/fakeartist" target="_blank">FakeArtist</a> designed by John Sabilla</span>
    </div>  
  </div>
</div>