<div class="main" layout="row">
  <span flex=""></span>
  <div layout="column">

    <h2 class="md-headline">Welcome to FakeArtist</h2>

    <md-button class="md-raised md-button md-ink-ripple flex-50" ng-click="showDialog($event)">New Game</md-button>  
    <md-button class="md-raised md-button md-ink-ripple flex-50" ng-click="joinGame($event);">Join Game</md-button>  

  </div>
  <span flex=""></span>

</div>

<div layout="row" flex="noshrink" layout-align="center center" class="layout-align-center-center layout-row flex-noshrink">
  <div layout=column>
    <div id="licenter-footer" class="ng-binding flex">
      <span class="md-caption"><u>FakeArtist</u> designed by John Sabilla</span>
    </div>  
  </div>
</div>